body {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    width: 450px;
    margin-top: 70px;
    display: inline-block;
    text-align: center;
}

.right {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    gap: 10px;
}

.right input[type="text"],
.right input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.right button[type="submit"] {
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
}

.right a {
    color: #1877f2;
    text-decoration: none;
}

.signup {
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
